/* Application: layouts. */
div {
    text-align: center;
}
h2 {
    padding-top: 10px;
}
img {
    border: 1px solid #939ba1;
}
p.center {
    text-align: center;
}
.Description {
    text-align: left;
    max-width: 1000px;
    margin: 0 auto;
}
.Column {
    display: flex;
    flex-direction: column;
}
.Graph {
    display: grid;
    grid-template-columns: repeat( 1, 1fr );
    justify-items: center;
}
