/* Container */
.parent {
    position: relative;
}

/* SVG element. */
svg {
    border: 1px solid #939ba1;
    background-color: #ffffff;
    font-size: 10px;
    position: absolute;
    left: 0;
    z-index: 1;
}

/* Buttons and Sliders */
button {
    background-color: #ffffff;
    border: 1px solid #939ba1;
    border-radius: 4px;
}
button, .MuiSlider-root {
    position: absolute;
    z-index: 2;
}
.sliderHorz .MuiSlider-rail,
.sliderHorz .MuiSlider-track {
    height: 3px !important;
}
.sliderVert .MuiSlider-rail,
.sliderVert .MuiSlider-track {
    width: 3px !important;
}

/* Axis */
.axis path,
.axis line,
.axisRotated path,
.axisRotated line {
    stroke: #939ba1;
}
.axisRotated text {
    text-anchor: end;
    transform: translateX(-13px) translateY(6px) rotate( -90deg );
}

